adium-theme-ubuntu==0.3.4
alabaster==0.7.10
amqp==2.2.2
astroid==1.6.1
attrs==15.2.0
Babel==2.5.3
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.4.1
billiard==3.5.0.3
bleach==1.5.0
blinker==1.3
bzr==2.7.0
celery==4.1.1
certifi==2018.1.18
chardet==3.0.4
cloudpickle==0.5.2
configobj==5.0.6
configparser==3.5.0
cryptography==1.2.3
cycler==0.10.0
debtags==2.0
decorator==4.2.1
defer==1.0.6
dirspec==13.10
Django==1.11.13
django-widget-tweaks==1.4.2
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
h5py==2.7.1
html5lib==0.9999999
httplib2==0.9.1
idna==2.6
imagesize==0.7.1
ipaddress==1.0.16
ipykernel==4.8.0
ipython==5.5.0
ipython-genutils==0.2.0
isort==4.2.15
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-core==4.4.0
Keras==2.1.6
keyring==7.3
kiwi==1.9.22
kombu==4.2.0
labelImg==1.5.2
launchpadlib==1.10.3
lazr.restfulclient==0.13.4
lazr.uri==1.0.3
lazy-object-proxy==1.3.1
lxml==3.5.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.1
mccabe==0.6.1
mercurial==3.7.3
mistune==0.8.3
mock==2.0.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.3.1
numpy==1.14.0
numpydoc==0.7.0
oauth==1.0.1
oauthlib==1.0.3
oneconf==0.3.9
PAM==0.4.2
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==3.1.2
piston-mini-client==0.7.5
prompt-toolkit==1.0.15
protobuf==3.5.1
psutil==5.4.3
ptyprocess==0.5.2
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycodestyle==2.3.1
pycrypto==2.6.1
pycups==1.9.73
pydot==1.2.4
pyflakes==1.6.0
Pygments==2.2.0
pygobject==3.20.0
pygpgme==0.3
pygraphviz==1.3.1
PyJWT==1.3.0
pylint==1.8.2
PyOpenGL==3.1.0
pyOpenSSL==0.15.1
pyparsing==2.2.0
pyserial==3.0.1
python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.6.1
python-debian==0.1.27
pytz==2017.3
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.4
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
requests==2.18.4
rope==0.10.7
scandir==1.6
scikit-learn==0.19.1
scipy==1.1.0
SecretStorage==2.1.3
Send2Trash==1.4.2
service-identity==16.0.0
simplegeneric==0.8.1
simplejson==3.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
software-center-aptd-plugins==0.0.0
Sphinx==1.6.6
sphinxcontrib-websupport==1.0.1
spyder==3.2.6
spyder-notebook==0.1.1
subprocess32==3.2.7
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0
terminado==0.8.1
testpath==0.3.1
testresources==2.0.1
Theano==1.0.2
tornado==4.5.3
traitlets==4.3.2
Twisted==16.0.0
typing==3.6.4
unity-lens-photos==1.0
urllib3==1.22
vine==1.1.4
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.10.11
zope.interface==4.1.3
